<div class="container-fluid h-screen d-flex flex-column justify-content-center  p-4", style="margin-top: 220px">
  <div class="text-center text-primary mb-4">
    <h1 class="display-4 mb-4 btn-primary sacramento-regular">Budgeti</h1>
  </div>
  <div class="text-center", style="margin-top: 180px">
    <%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary btn-lg mb-3', style: 'width: 90%;' %>
    <br>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-link text-primary hover-text-secondary', style: 'width: 90%;' %>
  </div>
</div>

