<div class="container-fluid h-screen d-flex flex-column justify-content-center p-4">
  <div class="row justify-content-center">
    <div class="col-md-6 category-form">
   

      <%= render @category %>

  
    </div>
  </div>
</div>
